{"swagger":"2.0","info":{"version":"v1","title":"dod"},"host":"mobilefirst.englishtown.com","basePath":"/services/api/dod","schemes":["http"],"paths":{"/ACR/{id}":{"get":{"tags":["AfterClassReport"],"operationId":"AfterClassReport_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"url","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AfterClassReportResponse"}}},"x-consumer":"mobile"}},"/AfterClassReport/Get/{id}":{"get":{"tags":["AfterClassReport"],"operationId":"AfterClassReport_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"url","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AfterClassReportResponse"}}},"x-consumer":"mobile"}},"/ChatWall":{"get":{"tags":["ChatWall"],"operationId":"ChatWall_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChatWallContentResponse"}}},"x-consumer":"mobile"},"post":{"tags":["ChatWall"],"operationId":"ChatWall_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"result","in":"body","required":true,"schema":{"$ref":"#/definitions/ChatWallParam"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SessionResultResponse"}}},"x-consumer":"mobile"}},"/ChatWall/Get":{"get":{"tags":["ChatWall"],"operationId":"ChatWall_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChatWallContentResponse"}}},"x-consumer":"mobile"}},"/ChatWall/Post":{"post":{"tags":["ChatWall"],"operationId":"ChatWall_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"result","in":"body","required":true,"schema":{"$ref":"#/definitions/ChatWallParam"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SessionResultResponse"}}},"x-consumer":"mobile"}},"/Classroom/Status":{"get":{"tags":["Classroom"],"operationId":"Classroom_Status","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ClassStatusResultResponse"}}},"x-consumer":"mobile"}},"/Classroom/ExitClassroomQueue":{"get":{"tags":["Classroom"],"operationId":"Classroom_ExitClassroomQueue","consumes":[],"produces":[],"responses":{"204":{"description":"No Content"}},"x-consumer":"mobile"}},"/DodUser/{id}":{"get":{"tags":["DodUser"],"operationId":"DodUser_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DodUserResponse"}}},"x-consumer":"mobile"}},"/DodUser/Get/{id}":{"get":{"tags":["DodUser"],"operationId":"DodUser_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DodUserResponse"}}},"x-consumer":"mobile"}},"/Game/Init":{"get":{"tags":["Game"],"operationId":"Game_Init","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"levelId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GameResponse"}}},"x-consumer":"mobile"}},"/Lead/Status":{"get":{"tags":["Lead"],"operationId":"Lead_Status","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LeadStatusResponse"}}},"x-consumer":"mobile"}},"/Lead/Verify":{"post":{"tags":["Lead"],"operationId":"Lead_Verify","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"param","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/LeadVerifyParam"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LeadVerifyResult"}}}}},"/Quiz/Init":{"get":{"tags":["Quiz"],"operationId":"Quiz_Init","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/QuizResponse"}}},"x-consumer":"mobile"}},"/Quiz/Submit":{"post":{"tags":["Quiz"],"operationId":"Quiz_Submit","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"result","in":"body","required":true,"schema":{"$ref":"#/definitions/QuizSubmitParam"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/QuizResponse"}}},"x-consumer":"mobile"}},"/Quiz/Load":{"get":{"tags":["Quiz"],"operationId":"Quiz_Load","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Quiz[ResponseResponse"}}}}},"/Session/Init":{"post":{"tags":["Session"],"operationId":"Session_Init","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SessionResultResponse"}}},"x-consumer":"mobile"}}},"definitions":{"AfterClassReportResponse":{"type":"object","properties":{"data":{"$ref":"#/definitions/AfterClassReport"},"errors":{"$ref":"#/definitions/ResponseError"}}},"AfterClassReport":{"type":"object","properties":{"studentName":{"type":"string"},"teacherName":{"type":"string"},"teacherProfileImage":{"type":"string"},"grade":{"$ref":"#/definitions/StudentGrade"},"learningAdvice":{"type":"string"},"signature":{"$ref":"#/definitions/WechatSignature"}}},"ResponseError":{"type":"object","properties":{"code":{"format":"int32","type":"integer"},"detail":{"type":"string"}}},"StudentGrade":{"type":"object","properties":{"accuracy":{"format":"int32","type":"integer"},"clarity":{"format":"int32","type":"integer"},"confidence":{"format":"int32","type":"integer"},"expression":{"format":"int32","type":"integer"},"range":{"format":"int32","type":"integer"}}},"WechatSignature":{"type":"object","properties":{"appId":{"type":"string"},"nonceStr":{"type":"string"},"signature":{"type":"string"},"timestamp":{"format":"int64","type":"integer"}}},"ChatWallContentResponse":{"type":"object","properties":{"data":{"$ref":"#/definitions/ChatWallContent"},"errors":{"$ref":"#/definitions/ResponseError"}}},"ChatWallContent":{"type":"object","properties":{"version":{"type":"string"},"media":{"type":"string"}}},"ChatWallParam":{"type":"object","properties":{"qustionCount":{"format":"int32","type":"integer"},"totalMins":{"format":"int32","type":"integer"},"score":{"format":"int32","type":"integer"},"level":{"type":"string"}}},"SessionResultResponse":{"type":"object","properties":{"data":{"$ref":"#/definitions/SessionResult"},"errors":{"$ref":"#/definitions/ResponseError"}}},"SessionResult":{"type":"object","properties":{"sessionId":{"type":"string"},"qrCodeUrl":{"type":"string"}}},"ClassStatusResultResponse":{"type":"object","properties":{"data":{"$ref":"#/definitions/ClassStatusResult"},"errors":{"$ref":"#/definitions/ResponseError"}}},"ClassStatusResult":{"type":"object","properties":{"status":{"enum":["NotInQueue","NotReady","Ready","Dropout","Attended","Complete","Graded"],"type":"string"},"classroomDomain":{"type":"string"},"attendanceToken":{"type":"string"},"accessKey":{"type":"string"},"classId":{"format":"int32","type":"integer"},"cacheServerDomain":{"type":"string"}}},"DodUserResponse":{"type":"object","properties":{"data":{"$ref":"#/definitions/DodUser"},"errors":{"$ref":"#/definitions/ResponseError"}}},"DodUser":{"type":"object","properties":{"userName":{"type":"string"},"topic":{"type":"string"},"studentLevel":{"type":"string"},"status":{"type":"string"}}},"GameResponse":{"type":"object","properties":{"data":{"$ref":"#/definitions/Game"},"errors":{"$ref":"#/definitions/ResponseError"}}},"Game":{"type":"object","properties":{"gameInstructions":{"type":"array","items":{"type":"string"}},"gameOptions":{"type":"array","items":{"$ref":"#/definitions/GameOption"}},"countDown":{"format":"int32","type":"integer"},"gameType":{"enum":["PicPuzzle","Picture","Wordbank"],"type":"string"},"media":{"type":"string"},"gameConfig":{"$ref":"#/definitions/GameConfig"},"gameLevel":{"format":"int32","type":"integer"}}},"GameOption":{"type":"object","properties":{"displayText":{"type":"string"},"isCorrect":{"type":"boolean"}}},"GameConfig":{"type":"object","properties":{"rowCount":{"format":"int32","type":"integer"},"columnCount":{"format":"int32","type":"integer"},"timeout":{"format":"int32","type":"integer"},"defaultDisplayCount":{"format":"int32","type":"integer"},"wordBankCorrectCount":{"format":"int32","type":"integer"}}},"LeadStatusResponse":{"type":"object","properties":{"data":{"$ref":"#/definitions/LeadStatus"},"errors":{"$ref":"#/definitions/ResponseError"}}},"LeadStatus":{"type":"object","properties":{"status":{"type":"string"}}},"LeadVerifyParam":{"type":"object","properties":{"phoneNumber":{"type":"string"},"leadType":{"type":"string"},"leadId":{"type":"string"},"userProfile":{"type":"string"},"sesseionId":{"type":"string"}}},"LeadVerifyResult":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"leadSessions":{"type":"array","items":{"$ref":"#/definitions/LeadSession"}},"errorMessage":{"type":"string"}}},"LeadSession":{"type":"object","properties":{"sessionId":{"type":"string"},"isValidDodUser":{"type":"boolean"},"message":{"type":"string"}}},"QuizResponse":{"type":"object","properties":{"data":{"$ref":"#/definitions/Quiz"},"errors":{"$ref":"#/definitions/ResponseError"}}},"Quiz":{"type":"object","properties":{"quizId":{"format":"int32","type":"integer"},"isLast":{"type":"boolean"},"isReturnUser":{"type":"boolean"},"countDown":{"format":"int32","type":"integer"},"quizQuestions":{"type":"array","items":{"$ref":"#/definitions/QuizQuestion"}},"quizOptions":{"type":"array","items":{"$ref":"#/definitions/QuizOption"}},"quizType":{"enum":["Chat","InputName","Chatwall"],"type":"string"}}},"QuizQuestion":{"type":"object","properties":{"questionType":{"enum":["Text","TextAndIcon","Audio","TextAndPic","Picture"],"type":"string"},"displayText":{"type":"string"},"media":{"type":"string"},"hint":{"type":"string"},"displayOrder":{"format":"int32","type":"integer"}}},"QuizOption":{"type":"object","properties":{"optionId":{"format":"int32","type":"integer"},"displayText":{"type":"string"},"media":{"type":"string"},"optionType":{"enum":["Text","Icon","Input","Picture"],"type":"string"},"displayOrder":{"format":"int32","type":"integer"},"isGoGame":{"type":"boolean"}}},"QuizSubmitParam":{"type":"object","properties":{"quizId":{"format":"int32","type":"integer"},"quizOptionId":{"format":"int32","type":"integer"},"quizType":{"type":"string"},"inputText":{"type":"string"}}},"Quiz[ResponseResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/Quiz"}},"errors":{"$ref":"#/definitions/ResponseError"}}}}}